@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&display=swap');

* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../image/weather-bg.jpg");
    background-size: cover; 
}

.app-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, .6));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 50px;
}

header input{
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    border-radius: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, .25);
    border-bottom: 2px solid #df8e00;
    font-size: 20px;
    font-weight: 500;
    transition: .2s ease-in-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 0 15px 0 15px;
}

main {
    margin-top: 20vh;
    padding: 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #fff;
    font-size: 16px;
}

.temperature .temp {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    margin: 30px 0;
    text-shadow: 2px 10px rgba(0, 0, 0, .6);
}

.temperature span {
    font-weight: 500;
}

.temperature .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0 3px rgba(0, 0, 0, .6);
}

.temperature .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0 4px rgba(0, 0, 0, .4);
}


@media (max-width: 992px) {
    .app-wrapper {
        grid-template-columns: 100%;
    }
}